.form {
	&-input,
	&-textarea {
		label {
			color: #232935; font-size: 16px; font-family: $os-b; line-height: 20px;
			margin-bottom: 5px; display: block;
		}

		input, textarea {
			color: #161616; font-size: 14px; font-family: $os-r; line-height: 18px;
			width: 100%; padding: 8px 10px; display: block;
			border: solid 1px #e2e2e2; border-radius: 4px;
		}

		textarea {
			min-height: 80px;
		}
	}

	&-input {

	}
	&-textarea {

	}
  &-range {
    label {
			color: #232935; font-size: 16px; font-family: $os-b; line-height: 20px;
			margin-bottom: 5px; display: block;
		}
  }
}
