.header {
	display: flex; align-items: center; justify-content: space-between;

	.contacts {
		display: flex; align-items: center;

		a, p {
			color: #fff; font-size: 12px; line-height: 14px; font-family: $m-m;
		}

		a {
			&:hover {
				text-decoration: underline;
			}
			
			i {
				margin-right: 5px;
			}
		}

		p {
			padding-left: 14px; margin-left: 14px;
			border-left: solid 1px #fff;
		}
	}

	ul {
		display: flex; align-items: center;

		li {
			margin-right: 35px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: #fff; font-size: 12px; line-height: 14px; font-family: $m-m; text-transform: uppercase;
			}
		}
	}
}