.header {
	.range {
		display: none;

		&.active {
			display: block;
		}
	}

	.info {
		padding: 12px 8px; display: none;

		&.active {
			display: block;
		}

		header {
			margin-bottom: 18px; padding: 0 14px;
		}

		section {
			display: flex; align-items: center; padding: 8px 0;
			border-top: solid 1px #fff;
		}

		ul li, p {
			color: #fff; font-size: 16px; font-family: $r-r; line-height: 28px; letter-spacing: 0.44px;
			
			strong {
				font-family: $r-b;
			}
		}

		a {
			height: 40px; width: 40px; display: block; margin-right: 20px;
		}

		ul {
			display: flex; align-items: center;

			li {
				position: relative; display: flex; align-items: center; margin-right: 18px; padding-right: 18px;

				&:last-child {
					padding-right: 0; margin-right: 0;
					&:after {
						content: none;
					}
				}

				&:after {
					content: '';
					display: block; width: 1px; height: 32px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);
					background: #fff;
				}

				p {
					font-size: 10px; letter-spacing: 0.4px; line-height: 16px;

					strong {
						font-size: 14px;
					}
				}

				i {
					margin-right: 10px;
				}
			}
		}
	}
}