.intro {
	header {
		display: flex; align-items: center; justify-content: space-between; margin-bottom: 60px;
	}

	section {

	}

	figure {
		text-align: center;

		img {

		}
	}

	ul {
		display: flex; align-items: center; padding-top: 10px;

		li {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $white; font-size: 14px; font-family: $m-r;

				&.active {
					font-family: $m-b;
				}
			}
		}
	}
	
	h1, h2 {
		color: $white; font-family: $m-th; text-align: center; text-transform: uppercase;
	}

	h1 {
		font-size: 83px; line-height: 86px;

		span {
			font-size: 70px;
			display: block;

			strong {
				font-family: $m-r;
			}
		}
	}

	h2 {
		font-size: 65px; line-height: 70px;
		padding-top: 32px; margin-top: 30px; position: relative;

		&:before {
			content: '';
			display: block; width: 716px; height: 2px; position: absolute; left: 50%; top: 0; transform: translateX(-50%);
			background: $white;
			opacity: 0.5;
		}
	}
}

.main {
	display: flex; align-items: flex-start;

	.sidebar {
		width: 270px; flex-shrink: 0; margin-right: 30px; padding: 20px;
		border: solid 1px #e2e2e2;

		& > p {
			font-size: 12px; font-family: $os-l;
			margin-bottom: 10px;

			strong {
				font-size: 16px; font-family: $os-b;
			}

			span {
				font-size: 14px; white-space: nowrap;
			}
		}
	}

	.results {
		width: 100%;
	}
}

.search-module {
	padding-bottom: 19px; margin-bottom: 19px;
	border-bottom: solid 1px #f7f7f7;

	&:last-child {
		margin-bottom: 0; padding-bottom: 0;
		border-bottom: none;
	}

	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}

	h4 {
		color: #161616; font-size: 14px; font-family: $m-sb; line-height: 18px;
		display: flex; justify-content: space-between; margin-bottom: 10px;

		a {
			color: #c2c2c2; font-size: 10px; font-family: $os-r; text-transform: uppercase;
		}
	}

	& > p {
		color: #484848; font-size: 12px; font-family: $m-sb; text-transform: 18px; text-transform: uppercase;
		display: flex; justify-content: space-between; margin-bottom: 5px;
	}

	form {
		position: relative; margin-bottom: 15px;

		input {
			width: 100%; height: 40px;
			border: solid 1px #e2e2e2; border-radius: 5px;
		}

		button {
			height: 40px; width: 40px; position: absolute; right: 0; top: 0;
			background: transparent;

			&:before {
				content: '';
				display: block; width: 12px; height: 12px; position: absolute; left: 12px; top: 12px;
				border: solid 2px #c2c2c2; border-radius: 50%;
			}

			&:after {
				content: '';
				display: block; width: 6px; height: 2px; position: absolute; right: 14px; bottom: 15px; transform: rotate(45deg);
				background: #c2c2c2; border-radius: 10px;
			}
		}
	}

	.checkbox-module {
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}

		&.disabled {
			label {
				text-decoration: line-through;
				pointer-events: none;

				span {
					text-decoration: none;
				}
			}
		}

		input {
			display: none;

			&:checked + label {
				&:before {
					background: #f7f7f7 url('./img/checked.png') center center no-repeat;
				}
			}
		}

		label {
			color: #484848; font-size: 14px; font-family: $os-r; line-height: 14px;
			padding-left: 25px; position: relative; display: flex; justify-content: space-between;
			cursor: pointer;

			&:before {
				content: '';
				display: block; width: 13px; height: 13px; position: absolute; left: 0; top: 0;
				border: solid 1px #b1b1b1;
			}
		}
	}
}

.results {

	h2 {
		color: #232935; font-size: 24px; font-family: $m-sb; line-height: 28px;
		margin-bottom: 35px;

		em {
			font-family: $m-l;
		}
	}

	.sort {
		display: flex; align-items: center; margin-bottom: 25px;

		p, ul li a {
			color: #232935; font-size: 14px; font-family: $os-r; line-height: 18px;
		}

		p {
			margin-right: 15px;
		}

		ul {
			display: flex; align-items: center;

			li {
				margin-right: 20px; padding-right: 19px;
				border-right: solid 1px #c2c2c2;

				&:last-child {
					margin-right: 0; padding-right: 0;
					border-right: none;
				}
			}
		}
	}

	.list {
		.result-item {
			margin-bottom: 22px;
			border: solid 1px #e2e2e2;

			&:last-child {
				margin-bottom: 0;
			}

			& > section {
				display: flex; align-items: flex-start; justify-content: space-between; padding: 23px 31px 30px 23px;

				figure {
					width: 280px; flex-shrink: 0; padding-right: 15px;

					img {max-width: 80%; max-height: 150px;}
				}

				.info {
					padding-top: 5px; width: 100%;
					
					h3 {
						color: #161616; font-size: 14px; font-family: $m-sb; line-height: 18px;
						margin-bottom: 10px;
					}

					.rating {
						display: flex; align-items: center; margin-bottom: 21px;

						ul {

						}

						p {
							color: #484848; font-size: 12px; font-family: $os-r; line-height: 16px;

							a {
								color: inherit; text-decoration: underline;
							}
						}
					}

					ul.pros {
						display: flex; align-items: center;

						li {
							color: #484848; font-size: 12px; font-family: $os-r; line-height: 18px;
							margin-right: 10px; padding-left: 28px; position: relative;

							&:last-child {
								margin-right: 0;
							}

							&:before {
								content: '';
								display: block; width: 21px; height: 21px; position: absolute; left: 0; top: -1px;
								background: url('./img/check-circle.png') center center no-repeat;
							}

							i {

							}

							strong {
								font-size: 14px; font-family: $os-b;
							}
						}
					}
				}

				.process {
					text-align: right;
					padding-top: 22px; flex-shrink: 0;

					a {
						color: $white; font-size: 16px; font-family: $m-sb; line-height: 20px;
						display: inline-block; margin-bottom: 14px; padding: 10px 16px;
						background: #f96868; border: solid 1px #f96868; border-radius: 5px;

						&:hover {
							color: #f96868;
							background: $white;
						}
					}

					p {
						color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;
					}
				}
			}

			& > footer {
				padding: 6px 25px 6px 22px;
				background: #f7f7f7; border-top: solid 1px #e2e2e2;

				&.active {
					.details {
						display: flex;
					}

					& > ul {
						li {
							button {
								img {
									transform: rotate(0);
								}
							}
						}
					}
				}

				.details {
					display: none; align-items: flex-start; padding: 25px 0;

					ul {
						width: 33.33333%; padding-right: 10px;

						li {
							color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;
							margin-bottom: 4px; padding-left: 20px; position: relative;

							&:before {
								content: '';
								display: block; width: 6px; height: 6px; position: absolute; left: 0; top: 6px; transform: rotate(45deg);
								border-top: solid 2px #484848; border-right: solid 2px #484848;
							}

							&:last-child {
								margin-bottom: 0;
							}

							strong {
								font-family: $os-b;
							}
						}
					}
				}

				& > ul {
					display: flex; align-items: center; justify-content: space-between;

					li {
						color: #f96868; font-size: 14px; font-family: $os-r; line-height: 20px;

						button {
							color: #484848; text-transform: uppercase;
							display: flex; align-items: center;
							background: none;
							cursor: pointer;

							img {
								margin-left: 5px; transform: rotate(180deg);
							}
						}
					}
				}
			}
		}
	}

	.pagination {
		display: flex; justify-content: center; padding-top: 24px;

		ul {
			display: flex; align-items: center; justify-content: center;

			li {
				border-left: solid 1px #e2e2e2;

				&:last-child {
					a {
						border-right: solid 1px #e2e2e2;
					}
				}

				&.active {

					a {
						color: $white;
						background: #232935; border-top-color: #232935; border-bottom-color: #232935;
					}
				}

				a {
					color: #232935; font-size: 14px; font-family: $m-r; line-height: 16px;
					display: block; padding: 15px;
					border: solid 1px #e2e2e2; border-right: none; border-left: none;
				}
			}
		}
	}
}

.about {
	ul {
		display: flex; align-items: center;

		li {
			width: 33.33333%; padding: 20px 40px;
			border-left: solid 1px #e2e2e2;

			&:last-child {
				border-right: solid 1px #e2e2e2;
			}

			h4 {
				color: #1d222d; font-size: 16px; font-family: $m-b; line-height: 22px;
				margin-bottom: 5px;
			}

			p {
				color: #484848; font-size: 14px; font-family: $os-r; line-height: 22px;
			}
		}
	}
}

.usefull-info {
	display: flex; align-items: flex-start;

	h3 {
		color: #1d222d; font-size: 16px; font-family: $m-b; line-height: 22px;
		margin-bottom: 20px;
	}

	.links {
		width: 200px; padding-right: 15px; flex-shrink: 0;

		h3 {
			margin-bottom: 45px;
		}

		ul {
			li {
				margin-bottom: 4px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #484848; font-size: 14px; font-family: $m-r; line-height: 18px;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.feedback {
		width: 300px; padding-right: 30px; flex-shrink: 0;

		h3 {
			margin-bottom: 45px;
		}

		form {
			select, input {
				color: #484848; font-size: 14px;
				width: 100%; height: 49px;
				border-radius: 5px; border: solid 1px #e2e2e2;
			}

			select {
				font-family: $m-l;
				margin-bottom: 8px; padding: 0 10px;
			}

			.input-module {
				position: relative; margin-top: 13px;

				input {
					font-family: $m-r;
					padding: 0 115px 0 15px;
				}

				button {
					color: $white; font-size: 14px; font-family: $m-l; text-transform: lowercase; text-align: center;
					width: 100px; height: 100%; position: absolute; right: 0; top: 0;
					background: #f96868; border-radius: 0 5px 5px 0;
				}
			}
		}
	}

	.effects {
		width: 100%;

		p {
			color: #484848; font-size: 12px; font-family: $os-r; line-height: 18px;
		}
	}
}