#preloader {
	position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; display: flex; align-items: center; justify-content: center;
	background: #fff;
	opacity: 1; transition: 0.8s ease-out;

	&.fadeOut {
		opacity: 0;
		pointer-events: none;

		#loading {
			&-bar {
				width: 100%;
			}
		}
	}

	& > div {
		display: flex; flex-direction: column; align-items: center; width: 1140px; padding: 0 15px;

		@include respond-to(lg) {width: 980px;}
		@include respond-to(md) {width: 760px;}
		@include respond-to(sm) {width: 100%;}
	}

	h2, p {
		color: #161616; font-size: 92px; line-height: 100px; text-transform: uppercase;

		@include respond-to(1499px) {
			font-size: 70px; line-height: 82px;
		}
		@include respond-to(lg) {
			font-size: 54px; line-height: 66px;
		}
		@include respond-to(md) {
			font-size: 48px; line-height: 58px;
		}
		@include respond-to(sm) {
			font-size: 32px; line-height: 40px;
		}
		@include respond-to(xs) {
			font-size: 24px; line-height: 28px;
		}
	}

	h2 {
		font-family: $m-b;
		display: flex; align-items: flex-end; justify-content: center; padding-right: 265px;

		@include respond-to(1499px) {
			padding-right: 205px;
		}
		@include respond-to(lg) {
			padding-right: 140px;
		}
		@include respond-to(md) {
			padding-right: 120px;
		}
		@include respond-to(sm) {
			padding-right: 75px;
		}
		@include respond-to(xs) {
			padding-right: 45px;
		}

		img {
			margin-right: -130px; position: relative; top: -5px;

			@include respond-to(1499px) {
				width: 300px; margin-right: -95px;
			}
			@include respond-to(lg) {
				width: 200px; margin-right: -60px;
			}
			@include respond-to(md) {
				width: 160px; margin-right: -40px;
			}
			@include respond-to(sm) {
				width: 100px; margin-right: -25px;
			}
			@include respond-to(xs) {
				width: 60px; margin-right: -15px;
			}
		}
	}

	p {
		font-family: $m-r; text-align: center;
		margin-bottom: 35px;

		@include respond-to(lg) {
			margin-bottom: 30px;
		}
		@include respond-to(md) {
			margin-bottom: 25px;
		}
		@include respond-to(sm) {
			margin-bottom: 20px;
		}
	}

	#loading {
		position: relative; width: 100%; max-width: 770px; padding: 18px 100px 18px 32px;
		border: solid 1px #e2e2e2; border-radius: 100px;

		@include respond-to(md) {
			padding: 15px 88px 15px 20px;
		}
		@include respond-to(sm) {
			padding: 12px 72px 12px 15px;
		}
		@include respond-to(xs) {
			padding: 8px 65px 8px 10px;
		}

		&-bar {
			width: 0%; height: 32px;
			background: #f16666; border-radius: 100px;

			@include respond-to(md) {
				height: 26px;
			}
			@include respond-to(sm) {
				height: 22px;
			}
			@include respond-to(xs) {
				height: 20px;
			}
		}

		&-percent {
			color: #161616; font-size: 24px; font-family: $m-l; line-height: 32px;
			position: absolute; right: 32px; top: 18px;

			@include respond-to(md) {
				line-height: 26px;
				right: 20px; top: 15px;
			}
			@include respond-to(sm) {
				font-size: 20px; line-height: 22px;
				right: 15px; top: 12px;
			}
			@include respond-to(xs) {
				font-size: 18px; line-height: 20px;
				right: 12px; top: 8px;
			}
		}
	}
}

.intro {
	header {
		display: flex; align-items: center; justify-content: center; margin-bottom: 40px;

		@include respond-to(sm) {
			flex-direction: column;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	section {
		display: flex; flex-direction: column; align-items: center;
	}

	figure {
		text-align: center;

		@include respond-to(sm) {
			margin-bottom: 20px;
		}

		img {

		}
	}

	ul {
		display: flex; align-items: center; padding-top: 10px;

		@include respond-to(sm) {
			padding-top: 0;
		}

		li {
			margin-right: 20px;

			@include respond-to(xs) {
				margin-right: 10px;
			}

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $white; font-size: 14px; font-family: $m-r;

				@include respond-to(xs) {
					font-size: 12px;
				}

				&.active {
					font-family: $m-b;
				}
			}
		}
	}

	h1, h2 {
		color: $white; font-family: $m-th; text-align: center; text-transform: uppercase; text-shadow: -5px 3px 6px rgba(0, 0, 0, 0.67);
		padding: 0 10px;
		background: rgba(0,0,0,0.75); border-radius: 10px;
	}

	h1 {
		font-size: 70px; line-height: 80px;

		@include respond-to(md) {
			font-size: 54px; line-height: 74px;
		}
		@include respond-to(sm) {
			font-size: 44px; line-height: 52px;
		}
		@include respond-to(xs) {
			font-size: 34px; line-height: 44px;
		}

		span {
			@include respond-to(lg) {
				display: block;
			}
		}

		strong {
			font-family: $m-r;
		}
	}

	h2 {
		font-size: 65px; line-height: 80px;
		margin-top: 11px; position: relative;

		@include respond-to(md) {
			font-size: 46px; line-height: 74px;
		}
		@include respond-to(sm) {
			font-size: 32px; line-height: 52px;
		}
		@include respond-to(xs) {
			font-size: 28px; line-height: 36px;
		}

		// &:before {
		// 	content: '';
		// 	display: block; width: 716px; height: 2px; position: absolute; left: 50%; top: 0; transform: translateX(-50%);
		// 	background: $white;
		// 	opacity: 0.5;
		//
		// 	@include respond-to(md) {
		// 		width: 90%;
		// 	}
		// }
	}
}

.main {
	display: flex; align-items: flex-start;

	@include respond-to(sm) {
		flex-direction: column;
	}

	.sidebar {
		width: 270px; flex-shrink: 0; margin-right: 30px; padding: 20px;
		border: solid 1px #e2e2e2;

		@include respond-to(lg) {
			margin-right: 15px; padding: 10px; width: 250px;
		}
		@include respond-to(md) {
			width: 220px;
		}
		@include respond-to(sm) {
			display: none;
		}

		& > div {
			& > p {
				font-size: 12px; font-family: $os-l;
				margin-bottom: 10px;

				strong {
					font-size: 16px; font-family: $os-b;
				}

				span {
					font-size: 14px; white-space: nowrap;
				}
			}
		}

		.range-input {
			p {
				color: #919191; font-size: 16px; font-family: $m-r; line-height: 20px;
				position: absolute; right: 5px; top: 9px
			}
		}
	}

	.results {
		width: 100%;
	}
}

.search-module {
	padding-bottom: 19px; margin-bottom: 19px;
	border-bottom: solid 1px #f7f7f7;

	&:last-child {
		margin-bottom: 0; padding-bottom: 0;
		border-bottom: none;
	}

	& > * {
		&:last-child {
			margin-bottom: 0;
		}
	}

	h4 {
		color: #161616; font-size: 14px; font-family: $m-sb; line-height: 18px;
		display: flex; justify-content: space-between; margin-bottom: 10px;

		button {
			color: #c2c2c2; font-size: 10px; font-family: $os-r; text-transform: uppercase;
			background: transparent;
			cursor: pointer;
		}
	}

	& > p {
		color: #484848; font-size: 12px; font-family: $m-sb; text-transform: 18px; text-transform: uppercase;
		display: flex; justify-content: space-between; margin-bottom: 5px;
	}

	form {
		position: relative; margin-bottom: 15px;

		input {
			width: 100%; height: 40px;
			border: solid 1px #e2e2e2; border-radius: 5px;
		}

		button {
			height: 40px; width: 40px; position: absolute; right: 0; top: 0;
			background: transparent;

			&:before {
				content: '';
				display: block; width: 12px; height: 12px; position: absolute; left: 12px; top: 12px;
				border: solid 2px #c2c2c2; border-radius: 50%;
			}

			&:after {
				content: '';
				display: block; width: 6px; height: 2px; position: absolute; right: 14px; bottom: 15px; transform: rotate(45deg);
				background: #c2c2c2; border-radius: 10px;
			}
		}
	}

	.checkbox-module {

		label {
			color: #484848; font-size: 14px; font-family: $os-r; line-height: 14px;
			padding-left: 25px; position: relative; display: flex; justify-content: space-between; margin-bottom: 8px;
			cursor: pointer;

			&.disabled {
				text-decoration: line-through;
				pointer-events: none;

				&:before {
					opacity: 0.4;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			input {
				display: none;
			}

			&.active {
				&:before {
					background: #f7f7f7 url('./img/checked.png') center center no-repeat;
				}
			}

			&:before {
				content: '';
				display: block; width: 13px; height: 13px; position: absolute; left: 0; top: 0;
				background: #f7f7f7; border: solid 1px #b1b1b1;
			}
		}
	}
}

.results {

	h2 {
		color: #232935; font-size: 24px; font-family: $m-sb; line-height: 28px; text-align: center;
		margin-bottom: 35px;

		@include respond-to(xs) {
			font-size: 22px;
		}

		em {
			font-family: $m-l; white-space: nowrap;
		}
	}

	.sort {
		display: flex; align-items: center; margin-bottom: 25px;

		@include respond-to(sm) {
			flex-direction: column;
		}

		p, ul li button {
			color: #232935; font-size: 14px; font-family: $os-r; line-height: 18px; text-transform: uppercase;
			position: relative;

			@include respond-to(md) {
				font-size: 12px;
			}
		}

		p {
			margin-right: 15px;

			@include respond-to(md) {
				margin-right: 10px;
			}
			@include respond-to(sm) {
				margin-right: 0; margin-bottom: 10px;
			}
		}

		button {
			background: transparent;
			cursor: pointer;

			&.active {
				padding-right: 15px;
				&:after {
					content: '';
					display: block; position: absolute; right: 0; top: 50%; transform: translateY(-50%);
					border-right: solid 4px transparent; border-left: solid 4px transparent;
				}

				&.up {
					&:after {
						border-bottom: solid 8px #000;
					}
				}
				&.down {
					&:after {
						border-top: solid 8px #000;
					}
				}
			}
		}

		ul {
			display: flex; align-items: center;

			@include respond-to(sm) {
				flex-direction: column;
			}

			li {
				margin-right: 20px; padding-right: 19px; position: relative;
				border-right: solid 1px #c2c2c2;

				@include respond-to(md) {
					margin-right: 10px; padding-right: 9px;
				}
				@include respond-to(sm) {
					margin-right: 0; padding-right: 0; margin-bottom: 5px; padding-bottom: 6px;
					border-right: none;
				}

				&:last-child {
					margin-right: 0; padding-right: 0; margin-bottom: 0; padding-bottom: 0;
					border-right: none;

					&:after {
						content: none;
					}
				}

				&:after {
					content: none;
					display: block; width: 60px; height: 1px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
					background: #c2c2c2;

					@include respond-to(sm) {
						content: '';
					}
				}
			}
		}
	}

	.add-card {
		color: $white; font-size: 20px; font-family: $m-sb; line-height: 26px;
		margin: 0 auto 30px; display: block; padding: 10px 16px;
		background: #f96868; border: solid 2px #f96868; border-radius: 5px;
		cursor: pointer;

		&:hover {
			color: #f96868;
			background: $white;
		}
	}

	.list {
		margin-bottom: 25px;

		.result-item {
			margin: 0 auto 22px; max-width: 880px; width: 100%; position: relative;
			border: solid 1px #e2e2e2;

			@include respond-to(lg) {
				max-width: 780px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			& > section {
				display: flex; align-items: flex-start; justify-content: space-between; padding: 23px 31px 30px 23px;

				@include respond-to(lg) {
					padding: 20px 15px;
				}
				@include respond-to(md) {
					flex-wrap: wrap;
				}

				figure {
					text-align: center;
					width: 230px; flex-shrink: 0; padding-right: 15px;

					@include respond-to(lg) {
						width: 170px; padding-right: 10px;
					}
					@include respond-to(md) {
						order: 0;
					}
					@include respond-to(sm) {
						width: 240px;
					}
					@include respond-to(xs) {
						width: 100%; padding-right: 0;
					}

					img {
						max-width: 80%; max-height: 150px;

						@include respond-to(lg) {
							max-width: 90%;
						}
					}
				}

				.info {
					padding-top: 5px; width: 100%;

					@include respond-to(md) {
						order: 2; padding-top: 15px; padding-left: 15px;
					}
					@include respond-to(sm) {
						padding-left: 10px;
					}
					@include respond-to(xs) {
						order: 1; padding-left: 0;
					}

					h3 {
						color: #161616; font-size: 14px; font-family: $m-sb; line-height: 18px;
						margin-bottom: 10px; padding-bottom: 11px; position: relative;

						&:after {
							content: '';
							display: block; width: 100px; height: 1px; position: absolute; left: 0; bottom: 0;
							background: #e2e2e2;
						}
					}

					.rating {
						display: flex; align-items: center; margin-bottom: 21px;

						ul {
							display: flex; align-items: center; margin-right: 5px;

							li {
								color: #e2e2e2;
								margin-right: 2px;

								&:last-child {
									margin-right: 0;
								}

							}
						}

						p {
							color: #484848; font-size: 12px; font-family: $os-r; line-height: 16px;

							a {
								color: inherit; text-decoration: underline;
							}
						}
					}

					ul.pros {
						display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 15px;

						@include respond-to(xs) {
							flex-direction: column;
						}

						&:last-child {
							margin-bottom: 0;
						}

						li {
							color: #484848; font-size: 12px; font-family: $os-r; line-height: 20px;
							margin-bottom: 5px; padding-left: 35px; position: relative;

							@include respond-to(xs) {
								margin-right: 0; margin-bottom: 10px;
							}

							&:last-child {
								margin-right: 0; margin-bottom: 0;
							}

							// &:before {
							// 	content: '';
							// 	display: block; width: 21px; height: 21px; position: absolute; left: 0; top: 0;
							// 	background: url('./img/check-circle.png') center center no-repeat;
							// }

							i {
								color: #f96868; font-size: 20px;
								position: absolute; left: 15px; top: 11px; transform: translate(-50%, -50%);
							}

							strong {
								font-size: 14px; font-family: $os-b;
							}

							em {
								color: #f96868; font-size: 11px; font-family: $os-r; line-height: 14px;
								display: block; margin-left: -28px; padding-top: 4px;
							}
						}
					}

					ul.options {

						li {
							color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;
							padding-left: 20px; position: relative;

							@include respond-to(lg) {
								font-size: 13px;
							}
							@include respond-to(xs) {
								padding-left: 15px;
							}

							&:last-child {
								margin-bottom: -5px;
							}

							&:before {
								content: '';
								display: block; width: 6px; height: 6px; position: absolute; left: 0; top: 6px; transform: rotate(45deg);
								border-top: solid 2px #484848; border-right: solid 2px #484848;
							}

							&:last-child {
								margin-bottom: 0;
							}

							span {
								display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap; width: 100%; padding-top: 5px;
							}

							i {
								margin-right: 5px; margin-bottom: 5px;
							}
						}
					}
				}

				.process {
					text-align: right;
					padding-top: 22px; flex-shrink: 0;

					@include respond-to(md) {
						order: 1;
					}
					@include respond-to(xs) {
						order: 2; width: 100%;
					}

					button {
						color: #f96868; font-size: 16px; line-height: 20px;
						display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; position: absolute; right: 5px; top: 5px;
						background: none;
						cursor: pointer;
					}

					a {
						color: $white; font-size: 16px; font-family: $m-sb; line-height: 20px;
						display: inline-block; margin-bottom: 14px; padding: 10px 16px;
						background: #f96868; border: solid 1px #f96868; border-radius: 5px;

						@include respond-to(lg) {
							font-size: 14px;
							padding: 9px 14px;
						}
						@include respond-to(xs) {
							font-size: 16px; text-align: center;
							padding: 10px 16px; width: 100%;
						}

						&:hover {
							color: #f96868;
							background: $white;
						}
					}

					p {
						color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;

						@include respond-to(lg) {
							font-size: 13px;
						}
					}
				}
			}

			& > footer {
				padding: 6px 25px 6px 22px;
				background: #f7f7f7; border-top: solid 1px #e2e2e2;

				@include respond-to(lg) {
					padding: 6px 15px;
				}

				&.active {
					.details {
						display: flex;
					}

					& > ul {
						li {
							button {
								text-indent: -10000px;
								img {
									transform: rotate(0);
								}
							}
						}
					}
				}

				.details {
					display: none; align-items: flex-start; padding: 25px 0;

					@include respond-to(md) {
						flex-wrap: wrap;
					}

					ul {
						width: 50%; padding-right: 10px;

						@include respond-to(xs) {
							width: 100%; padding-right: 0; margin-bottom: 13px;
						}

						&:last-child {
							margin-bottom: 0;
						}

						li {
							color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;
							margin-bottom: 13px; padding-left: 35px; position: relative;

							@include respond-to(lg) {
								font-size: 13px;
							}
							@include respond-to(xs) {
								padding-left: 30px;
							}

							&:before {
								content: '';
								display: block; width: 21px; height: 21px; position: absolute; left: 0; top: -2px;
								background: url('./img/check-circle.png') center center no-repeat;

								@include respond-to(lg) {
									top: -1px;
								}
							}

							&:last-child {
								margin-bottom: 0;
							}

							strong {
								font-family: $os-b;
							}
						}
					}
				}

				& > ul {
					display: flex; align-items: center; justify-content: space-between;

					li {
						color: #f96868; font-size: 14px; font-family: $os-r; line-height: 20px;

						button {
							color: #484848; text-transform: uppercase;
							display: flex; align-items: center;
							background: none;
							cursor: pointer;

							img {
								margin-left: 5px; transform: rotate(180deg);
							}
						}
					}
				}
			}
		}
	}

	.pagination {
		display: flex; justify-content: center; margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}

		ul {
			display: flex; align-items: center; justify-content: center;

			li {
				border-left: solid 1px #e2e2e2;

				&:last-child {
					a {
						border-right: solid 1px #e2e2e2;
					}
				}

				&.active {

					a {
						color: $white;
						background: #232935; border-top-color: #232935; border-bottom-color: #232935;
						pointer-events: none;
					}
				}

				a {
					color: #232935; font-size: 14px; font-family: $m-r; line-height: 16px;
					display: block; padding: 15px;
					border: solid 1px #e2e2e2; border-right: none; border-left: none;
				}
			}
		}
	}
}

.about {
	ul {
		display: flex; align-items: center;

		li {
			width: 33.33333%; padding: 20px 40px;
			border-left: solid 1px #e2e2e2;

			&:last-child {
				border-right: solid 1px #e2e2e2;
			}

			h4 {
				color: #1d222d; font-size: 16px; font-family: $m-b; line-height: 22px;
				margin-bottom: 5px;
			}

			p {
				color: #484848; font-size: 14px; font-family: $os-r; line-height: 22px;
			}
		}
	}
}

.usefull-info {
	display: flex; align-items: flex-start;

	h3 {
		color: #1d222d; font-size: 16px; font-family: $m-b; line-height: 22px;
		margin-bottom: 20px;
	}

	.links {
		// width: 200px; padding-right: 15px; flex-shrink: 0;

		width: 100%;

		h3 {
			margin-bottom: 45px;
		}

		ul {
			width: 100%; display: flex; align-items: center; justify-content: center;

			li {
				// margin-bottom: 4px;
				padding-right: 13px; margin-right: 14px;
				border-right: solid 1px #484848;

				&:last-child {
					margin-bottom: 0; padding-right: 0; margin-right: 0;
					border-right: none;
				}

				a {
					color: #484848; font-size: 14px; font-family: $m-r; line-height: 16px; text-transform: lowercase;

					&.active {
						font-family: $m-sb;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.feedback {
		width: 300px; padding-right: 30px; flex-shrink: 0;

		h3 {
			margin-bottom: 45px;
		}

		form {
			select, input {
				color: #484848; font-size: 14px;
				width: 100%; height: 49px;
				border-radius: 5px; border: solid 1px #e2e2e2;
			}

			select {
				font-family: $m-l;
				margin-bottom: 8px; padding: 0 10px;
			}

			.input-module {
				position: relative; margin-top: 13px;

				input {
					font-family: $m-r;
					padding: 0 115px 0 15px;
				}

				button {
					color: $white; font-size: 14px; font-family: $m-l; text-transform: lowercase; text-align: center;
					width: 100px; height: 100%; position: absolute; right: 0; top: 0;
					background: #f96868; border-radius: 0 5px 5px 0;
				}
			}
		}
	}

	.effects {
		width: 100%;

		p {
			color: #484848; font-size: 12px; font-family: $os-r; line-height: 18px;
		}
	}
}

.inner-text {

	&.not-found {
		text-align: center;

		h2 {
			font-size: 48px; line-height: 56px;
		}
		h3 {
			font-size: 24px; line-height: 30px;
		}
	}

	h2 {
		color: #232935; font-size: 24px; font-family: $m-sb; line-height: 30px;
		margin-bottom: 25px;
	}

	h3 {
		color: #232935; font-size: 18px; font-family: $m-sb; line-height: 25px; text-transform: uppercase;
		display: inline; margin-bottom: 15px;
	}

	ol li, ul li, p {
		color: #484848; font-size: 14px; font-family: $os-r; line-height: 22px;
	}

	& > p {
		margin-bottom: 15px;
	}

	ul {
		margin-bottom: 20px;
		counter-reset: count1;

		& > li {

			&:before {
				counter-increment: count1;
				content: counters(count1,".")". ";
			}

			& > h3 {
				margin-bottom: 5px;
			}

			ul, ol {
				margin-bottom: 0; padding-left: 15px;
			}

			ol {
				li {
					position: relative; padding-left: 15px;

					&:before {
						content: '';
						display: block; width: 5px; height: 5px; position: absolute; left: 0; top: 9px;
						background: #484848; border-radius: 50%;
					}
				}
			}

			ul, ol {
				padding-top: 5px;

				li {
					margin-bottom: 5px;
				}
			}

		}
	}

	& > ul {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		& > li {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				color: #232935; font-size: 18px; font-family: $m-sb; line-height: 25px; text-transform: uppercase;
			}
		}
	}

	& > ol {
		counter-reset: count2;

		& > li {
			margin-bottom: 5px;

			&:before {
				counter-increment: count2;
				content: counters(count2,".")". ";
			}
		}
	}
}

.smart-search {
	padding: 30px; margin-bottom: 30px;
	border: solid 1px #e2e2e2;

	h2 {
		color: #161616; font-size: 16px; font-family: $m-sb; line-height: 22px; text-align: left;
		margin-bottom: 30px;
	}

	& > div {
		display: flex; align-items: center; justify-content: space-between;

		div {
			width: 100%;
		}
	}

	figure {
		width: 124px; flex-shrink: 0; margin-right: 26px;
	}

	p {
		color: #484848; font-size: 14px; font-family: $os-r; line-height: 22px;
	}

	ul {
		display: flex; justify-content: space-between; align-items: center; padding-top: 17px;

		li {
			width: calc(50% - 10px);
		}
	}

	.range-input {
		& > div {
			margin-bottom: 10px;
		}
	}
}
.range-input {
	display: block; position: relative;

	.line {
		display: block; width: 100%; height: 4px; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
		background: #f96868;
	}

	.point {
		display: block; width: 20px; height: 20px; position: absolute; left: 20%; top: 50%; transform: translate(-50%, -50%);
		background: $white; border-radius: 50%; border: solid 1px grey;
		cursor: pointer;
	}

	& > div {
		position: relative;
		border: solid 1px grey; background: #f7f7f7;

		input {
			color: #f96868; font-size: 16px; font-family: $os-sb; line-height: 20px;
			margin-bottom: 10px; padding: 7px 10px 3px; width: 100%;
			background: transparent;
		}
		div {
			position: absolute; height: 12px; bottom: -4px; width: 100%;
			cursor: pointer;
		}
	}
}

.testimonials {

	.masonry {
		margin: 0 -10px;

		@include respond-to(xs) {
			margin: 0;
		}
	}

	&.moderate {
		display: flex; align-items: flex-start; justify-content: flex-start; flex-wrap: wrap;
	}

	& > h2 {
		width: 100%; justify-content: center;
	}

	& > h3 {
		color: #161616; font-size: 20px; font-family: $m-sb; line-height: 26px;
		margin-bottom: 30px; padding: 0 10px;
	}

	header {
		display: flex; align-items: center; justify-content: space-between; margin-bottom: 30px;

		@include respond-to(sm) {
			flex-direction: column; align-items: flex-start;
		}
	}

	h2 {
		color: #232935; font-size: 24px; font-family: $m-sb; line-height: 28px;
		display: flex; align-items: center;

		@include respond-to(sm) {
			order: 1; flex-direction: column; align-items: flex-start;
		}
		@include respond-to(xs) {
			font-size: 20px;
		}
	}

	.rating {
		display: flex; align-items: center; margin-left: 15px;

		@include respond-to(sm) {
			margin-left: 0; margin-top: 5px;
		}

		ul {
			display: flex; align-items: center; margin-right: 10px;

			li {
				margin-right: 2px; display: flex; align-items: center;

				&:last-child {
					margin-right: 0;
				}

				i {
					color: #c2c2c2; font-size: 14px;
				}
			}
		}

		p, span {
			color: #484848; font-size: 12px; font-family: $os-r; line-height: 18px;
		}

		p {
			text-decoration: underline; margin-right: 4px;
		}
	}

	figure {
		max-height: 300px; max-width: 300px;

		@include respond-to(sm) {
			order: 0; margin-bottom: 10px;
		}

		img {
			max-width: 100%; max-height: 100%;
		}
	}
}

.testi {
	width: calc(33.33333% - 20px); margin: 10px; position: relative;
	background: #ffffff; border: solid 1px #e2e2e2;

	@include respond-to(md) {
		width: calc(50% - 20px);
	}
	@include respond-to(xs) {
		width: 100%; margin: 0 0 10px;
	}

	&:last-child {
		@include respond-to(xs) {
			margin-bottom: 0;
		}
	}

	.delete-testi {
		color: #f96868; font-size: 16px;
		display: flex; align-items: center; justify-content: center; width: 20px; height: 20px; position: absolute; right: 5px; top: 5px; z-index: 5;
	}

	&:hover {
		.actions {
			opacity: 1;
		}
	}

	i.fa-quote {
		&-left, &-right {
			color: #c2c2c2; font-size: 24px;
			position: absolute;

			@include respond-to(xs) {
				font-size: 16px;
			}
		}
		&-left {
			left: 19px; top: 19px;

			@include respond-to(xs) {
				left: 8px; top: 8px;
			}
		}
		&-right {
			right: 19px; bottom: 19px;

			@include respond-to(xs) {
				right: 8px; bottom: 8px;
			}
		}
	}

	div {
		position: relative; padding: 40px 60px 35px;

		@include respond-to(xs) {
			padding: 20px 40px;
		}

		.moderate & {
			padding: 20px 19px;
			i {
				display: none;
			}
		}

		p, textarea {
			color: #484848; font-size: 14px; font-family: $os-r; line-height: 22px;
		}
		textarea {
			width: 100%; min-height: 200px;
			resize: none;
		}
	}

	.actions {
		display: flex; align-items: center; justify-content: space-between; padding: 5px 19px 12px;
		opacity: 0;

		button {
			color: $white; font-size: 16px; font-family: $m-sb; line-height: 22px;
			margin: 0; display: block; padding: 7px 12px;
			background: #f96868; border: solid 2px #f96868; border-radius: 5px;
			cursor: pointer;

			&:hover {
				color: #f96868;
				background: $white;
			}
		}
	}

	footer {
		display: flex; align-items: center; justify-content: space-between; padding: 15px 19px;
		border-top: solid 1px #e2e2e2;

		@include respond-to(sm) {
			flex-direction: column;
		}

		p {
			color: #232935; font-size: 16px; font-family: $m-sb; line-height: 22px; text-transform: uppercase;

			@include respond-to(sm) {
				font-size: 14px; order: 1;
			}
		}

		ul {
			display: flex; align-items: center;

			@include respond-to(sm) {
				order: 0; margin-bottom: 2px;
			}

			li {
				margin-right: 2px;

				&:last-child {
					margin-right: 0;
				}

				i {
					color: #c2c2c2; font-size: 14px;
				}
			}
		}
	}
}

.leave-testi {
	padding: 40px 0px 0;

	h2 {
		color: #232935; font-size: 24px; font-family: $m-r; line-height: 30px;
		margin-bottom: 25px;
	}

	form {

	}

	section {
		display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap; margin-bottom: 20px;

		.form {
			&-input,
			&-textarea {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			&-input {
				width: calc(50% - 10px);

				@include respond-to(xs) {
					width: 100%;
				}
			}

			&-textarea {
				width: 100%;
			}
		}
	}

	.leave-rate {
		display: inline-flex; align-items: center; justify-content: flex-start;

		li {
			color: #e2e2e2;
			margin-right: 2px;
			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}

			i {
				pointer-events: none;
			}
		}
	}

	footer {

	}

	button {
		color: $white; font-size: 16px; font-family: $m-sb; line-height: 20px;
		display: block; padding: 10px 16px;
		background: #f96868; border: solid 1px #f96868; border-radius: 5px;
		cursor: pointer;

		@include respond-to(xs) {
			width: 100%;
		}

		&:hover {
			color: #f96868;
			background: $white;
		}
	}
}

.leave-order {
	display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;
	h2 {
			color: #232935; font-size: 24px; font-family: $m-r; line-height: 30px;
			margin-bottom: 25px; width: 100%;
	}

	form {
		width: calc(100% - 300px); padding: 30px;
		border: solid 1px #f6f6f6;

		section {
			display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap; padding: 30px 0 15px;
			border-bottom: solid 1px #e2e2e2;

			&:first-child {
				padding-top: 0;
			}

			h3 {
				color: #232935; font-size: 24px; font-family: $m-sb; line-height: 30px;
				width: 100%; margin-bottom: 20px;
			}
		}

		footer {
			padding-top: 40px;

			label {
				color: #484848; font-size: 14px; font-family: $os-r; line-height: 18px;
				padding-left: 30px; margin-bottom: 20px; display: block; position: relative;
				cursor: pointer;

				&.active {
					&:before {

					}
				}

				&:before {
					content: '';
					display: block; width: 22px; height: 22px; position: absolute; left: 0; top: -2px;
					border: solid 1px #c2c2c2;
				}

				input {
					display: none;
				}

				a {
					color: #f96868;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			button {
				color: $white; font-size: 16px; font-family: $m-sb; line-height: 20px;
				display: block; padding: 10px 16px;
				background: #f96868; border: solid 1px #f96868; border-radius: 5px;
				cursor: pointer;
				pointer-events: none; opacity: 0.7;

				&.active {
					pointer-events: auto; opacity: 1;
				}

				&:hover {
					color: #f96868;
					background: $white;
				}
			}
		}

		.form {
			&-input,
			&-range {
				margin-bottom: 15px;

				label {
					margin-bottom: 5px;
				}
			}

			&-input {
				width: calc(50% - 10px);
			}

			&-range {
				width: 100%;

				.range-input {
					& > div {
						border-color: #e2e2e2;
					}
				}
			}
		}
	}

	.need-help {
		width: 270px;
	}
}

.need-help {
	padding: 20px;
	border: solid 1px #e2e2e2;

	h3 {
		color: #161616; font-size: 16px; font-family: $m-b; line-height: 20px;
		margin-bottom: 10px;
	}

	p {
		color: #484848; font-size: 14px; font-family: $os-r; line-height: 22px;
		margin-bottom: 7px;
	}

	a {
		color: #f96868; font-size: 12px; font-family: $os-r; line-height: 16px;

		&:hover {
			text-decoration: underline;
		}

		i {
			margin-right: 5px;
		}
	}
}




@for $i1 from 1 through 5 {
	.rate-#{$i1} {
		@for $i2 from 1 through $i1 {
			& li:nth-child(#{$i2}) i {
				color: #f2a654 !important;
			}
		}
	}
}
