.app {
	min-width: 320px;
	overflow-x: hidden;
	background: #ffffff;

	.wr {
		&-header {
			padding: 15px 0;
			background: #f96868;
		}

		&-intro {
			padding: 143px 0 220px;
			background: url('./img/intro-bg.png') center bottom no-repeat; background-size: cover; background-attachment: fixed;
		}

		&-main {
			padding: 69px 0 56px;
		}

		&-about {
			border-top: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2;
		}

		&-usefull-info {
			padding-top: 70px; padding-bottom: 75px;
		}

		&-footer {
			padding: 27px 0;
			border-top: solid 1px #e2e2e2;
		}
	}
}