.app {
	min-width: 320px;
	overflow-x: hidden;
	background: #ffffff;

	.wr {
		&-header {
			padding: 15px 0;
			background: #f96868;
		}

		&-intro {
			padding: 50px 0 100px; position: relative;
			background: url('./img/intro-bg.jpg') center bottom no-repeat; background-size: cover; background-attachment: fixed;

			&:before {
				content: '';
				display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0;
				background: rgba(0,0,0,0.75);
			}

			&.cards {
				background: url('./img/intro-bg-cards.jpg') center bottom no-repeat; background-size: cover; background-attachment: fixed;
			}

			&.credits {
				background: url('./img/intro-bg-credits.jpg') center bottom no-repeat; background-size: cover; background-attachment: fixed;
			}
		}

		&-main {
			padding: 69px 0 56px;
		}

		&-about {
			border-top: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2;
		}

		&-usefull-info {
			// padding-top: 70px; padding-bottom: 75px;
			padding-top: 10px; padding-bottom: 15px;
		}

		&-footer {
			padding: 27px 0;
			background: #f7f7f7; border-top: solid 1px #e2e2e2;
		}
	}
}