.app {
	min-width: 320px;
	overflow-x: hidden;
	background: #ffffff;

	.wr {
		&-header {
			padding: 15px 0; position: fixed; width: 100%; left: 0; top: 0; z-index: 50;
			background: #f96868; box-shadow: 0 0 5px 0px rgba(0,0,0,0.5);
		}

		&-intro {
			padding: 96px 0 60px; position: relative;
			background: url('./img/intro-bg.jpg') center bottom no-repeat; background-size: cover; background-attachment: fixed;

			&:before {
				content: '';
				display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0;
				background: rgba(0,0,0,0.85);
			}

			&.cards {
				background: url('./img/intro-bg-cards.jpg') center bottom no-repeat; background-size: cover; background-attachment: fixed;
			}

			&.credits {
				background: url('./img/intro-bg-credits.jpg') center bottom no-repeat; background-size: cover; background-attachment: fixed;
			}
			&.inner {
				background: url('./img/intro-bg-inner.jpg') center -170px no-repeat; background-size: cover; background-attachment: fixed;
			}
		}

		&-main {
			padding: 69px 0 56px;
		}

		&-about {
			border-top: solid 1px #e2e2e2; border-bottom: solid 1px #e2e2e2;
		}

		&-usefull-info {
			// padding-top: 70px; padding-bottom: 75px;
			padding-top: 10px; padding-bottom: 15px;
		}

		&-inner-text {
			padding: 75px 0; min-height: calc(100vh - 357px);
		}

		&-footer {
			padding: 27px 0;
			background: #f7f7f7; border-top: solid 1px #e2e2e2;
		}
	}
}