@import 'reset';

@import 'settings';
@import 'variables';

@import 'fonts';

@import 'sprite';
@import 'icons';

@import 'animation';

@import 'header';
@import 'footer';
@import 'modules';

@import 'popups';

@import 'style';